<!DOCTYPE html>
<html lang="en">
  <head><% include ./partials/_header.ejs%>
  	
  </head>
  <body style="font-size:20px; padding:50px;">

    <form action="/urls" method="POST" style="margin:150px;">
      <label for="fullURL">Enter a URL:</label>
      <input id="fullURL" type="text" name="fullURL" placeholder="http://" style="width: 300px">
      <input type="submit" value="Submit"><br>
      <a href="/urls">Back to urls list</a>
    </form>
  </body>
</html>